<h1>Welcome, <%= session[:person].name %></h1>
<div class="princess"><img src='assets/images/princess.gif' width='150px'></div>

<div class="arrow_ahead">
	<a href="/sword_room"><img id='rotate_left' src='assets/images/red_arrow_up.png' width='70px'></a>

	<a href="/corridor1"><img src='assets/images/red_arrow_up.png' width='70'></a>

	<a href="/rope_room"><img id='rotate_right' src='assets/images/red_arrow_up.png' width='70px'></a>

</div>