<html>
<head>
	<title>Dungeon</title>
	<link rel='stylesheet' href='css/styles.css'>

	<style type="text/css">
		body {
	background: url(../assets/images/corridor.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
	}
	</style>

</head>
<body>
	<h1>You are in a corridor</h1>
<h2>Where do you want to go?</h2>

<div class="arrow_ahead">
	<a href="/sword_room"><img id='rotate_left' src='assets/images/red_arrow_up.png' width='70px'></a>

	<a href="/corridor1"><img src='assets/images/red_arrow_up.png' width='70'></a>

	<a href="/stairs"><img id='rotate_right' src='assets/images/red_arrow_up.png' width='70px'></a><br>

	<a href="/begin"><img id='rotate_down' src='assets/images/red_arrow_up.png' width='70px'></a>

</div>
</body>
</html>

