<html>
<head>
	<title>Dungeon</title>
	<link rel='stylesheet' href='css/styles.css'>

	<style type="text/css">
		body {
	background: url(../assets/images/goblin_room.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
	}
	</style>

</head>
<body>
	<h1>Evil Goblin!</h1>
	<h2>Oh, you've come across an evil goblin, try to attack him!</h2>
	<p class='smaller-text'>Or... find a way out</p>

	<a href="/fight_goblin"><img id="img-goblin" src="assets/images/Goblin.png"></a>

	<a href="/falling">
		<div class="window-div"></div>
	</a>

</body>
</html>