
	<h1>The Dungeon</h1>
	<h2>Let the adventure begin</h2>

	<form action='/begin' method='POST'>
		<input type='text' name='name' placeholder='Please enter your name'><br>
		<button>BEGIN!</button>
	</form>

