<html>
<head>
	<title>Dungeon</title>
	<link rel='stylesheet' href='css/styles.css'>

	<style type="text/css">
		body {
	background: url(../assets/images/keyhole.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
	}
	</style>

</head>
<body>
	<%= yield %> 
</body>
</html>