<h1>You have found something!</h1>
<h2>There is a rope in this room. Pick it up.</h2>

<a href="/pick_up_rope">
	<img id = "rope" src = "assets/images/rope.gif">
</a>

<% if session[:person].has_objects %>
<p class='congratulations'>Congratulations, you have just picked up one <%= session[:yoyo].objects_list[0][:name] %></p>
<% end %>
