<h1>You have found something!</h1>
<h2>There is a rope in this room. Pick it up.</h2>

<a href="/pick_up_rope">
	<img id = "rope" src = "assets/images/rope.gif">
</a>

<div class="arrow_ahead">

	<a href="/begin"><img id='rotate_down' src='assets/images/red_arrow_up.png' width='70px'></a>

</div>

<% if session[:person].has_objects %>
<p class='congratulations'>Congratulations, you have just picked up one <%= session[:weapons].objects_list[0][:name] %></p>
<% end %>
