<html>
<head>
	<title>Dungeon</title>
	<link rel='stylesheet' href='css/styles.css'>

	<style type="text/css">
		body {
	background: url(../assets/images/stairs_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
	}
	</style>

</head>
<body>
	<h1>You find yourself in front of some stairs</h1>
<h2>Where do you want to go?</h2>

<div class="arrow_ahead">
	

	<a href="/goblin_room"><img src='assets/images/red_arrow_up.png' width='70'></a>

	<a href="/corridor1"><img id='rotate_down' src='assets/images/red_arrow_up.png' width='70px'></a>

</div>
</body>
</html>

