<html>
<head>
	<title>Dungeon</title>
	<link rel='stylesheet' href='css/styles.css'>

	<style type="text/css">
		body {
	background: url(../assets/images/keyhole.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
	}
	</style>

</head>
<body>
	<h1>No entry here!</h1>
	<h2>Do you think you can find the key for this door?</h2>
	<h3>Big treasures await!</h3> 

	<div class="arrow_ahead">

	<a href="/begin"><img id='rotate_down' src='assets/images/red_arrow_up.png' width='70px'></a>

	</div>
</body>
</html>

