body {
	background: url(../assets/images/dungeon2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
}

h1 {
	text-align: center;
	font-size: 64px;
	color: #CCCC33;
}

h2 {
	text-align: center;
	font-size: 40px;
	color: silver;
}

h3 {
	text-align: center;
	font-size: 40px;
	color: white;
}

input {
	border: none;
	margin:20px;
	align:center;
	width:150px;
}

.princess {
	bottom: 10%;
	left: 50%;
	display: block;
	position: absolute;
	width: 200;
}

.arrow_ahead {
	left: 50%;
	top: 50%;
}

#rotate_left {
	transform: rotate(270deg);
	-webkit-transform:rotate(270deg);
}

#rotate_right {
	transform: rotate(90deg);
	-webkit-transform:rotate(90deg);
}

#rotate_down {
	transform: rotate(180deg);
	-webkit-transform:rotate(180deg);
}

#rope {
	bottom: 10%;
	left: 30%;
	display: block;
	position: absolute;
	width: 200;
}

#falling-rope {
	bottom: 30%;
	left: 10%;
	display: block;
	position: absolute;
	width: 200;
}

.congratulations {
	font-size: 20px;
	color: red;
}

.smaller-text {
	font-size: 20px;
	color: white;
}

#img-goblin {
	width: 600px;
	bottom: 10%;
	left: 30%;
	display: block;
	position: absolute;
}

.window-div {
	width:200px;
	height:200px;
	right:200px;
	top: 350px;
	display:block;
	position:fixed;
}